.py-2 {
  font-family: 'Roboto', sans-serif;;
  font-weight: 200;
  color: #fff;
  justify-content: left;
  align-items: left;
  text-align: left;
  display: flex;
  font-size: 14px;
  text-decoration: none;
  line-height: 10px;
}

#logo {
  cursor: pointer;
}

.fa-code:before {
    content: "\f121";
    color: #fff;
}
a:hover {
  color: #C0C0C0;
  transition: all .6s;
  text-decoration: none;
}

nav {
  background: rgba(45,45,45,0.98);
  height: 45px;
  font-size: 10px;
}

#navbar-text {
  font-size: 10px;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  font-weight: bold;
  font-size: 1.7rem;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#copyright {
  justify-content: center;
  align-items: center;
  text-align: left;
  display: flex;
  font-weight: 100;
  font-size: 15pt;
}

::selection {
    background: #A9A9A9;
}

#typewriter1 {
  color: #000;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  font-weight: 100;
}

typewriter2 {
  color: #000;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  font-weight: 100;
}

#credits {
  color: #000;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-weight: 100;
}

h2 {
  color: #000;
  margin: 0 !important;
  text-align: left;
  width: 100%;
  font-size: 25pt;
  font-weight: 100;
}

h3 {
  color: #000;
  justify-content: left;
  align-items: left;
  text-align: left;
  display: flex;
  font-weight: 100;
  font-size: 15pt;
}

h4 {
  color: #000;
  margin: 0 !important;
  text-align: left;
  width: 100%;
  font-size: 25pt;
  font-weight: normal;
}

.email {
  color: #000;
  font-size: 20px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  align-items: left;
  justify-content: left;
}


.logo {
  display: flex;
  justify-content: left;
}
a {
  font-weight: 100;
  padding-bottom: 50px;
  color: #262626;
  justify-content: left;
  align-items: left;
  text-align: left;
  display: flex;
  font-size: 20px;
  text-decoration: none;
}

i {
  color: #000;
  justify-content: left;
  align-items: left;
  text-align: left;
  display: flex;
  font-weight: 100;
  font-size: 15pt;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.pr-2, .px-2 {
  padding: 0%!important;
}

.mb-4 {
  padding-left: .5rem;
  padding-right: .5rem;
}

main {
  padding-left: .5rem;
  padding-right: .5rem;
}

.jumbotron {
  background-image: url(https://colorlib.com/etc/lf/Login_v5/images/bg-01.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  color: #fff;
  border-radius: 0;
  height: 100vh;
}

.emailus {
  background-color: #fff !important;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav {
    display: none;
  }
}

.mobile a {
  color: #fff;
}

.dropdown-menu a {
  color: black;
}